* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    font-size: 18px;
    line-height: 1.5;
    color: #ffffff;
}

button {
    background-color: #c51111;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    width: 250px;
    height: 50px;
    font-size: 18px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 30px;
}

button:hover {
    background-color: #ffca1d;
    color: #c51111;
    transition: all 0.3s ease;
}

.logo {
    height: 150px;
}

.img-personagens {
    width: 400px;
    height: auto;
    border-radius: 10px;
}

body {
    height: 100vh;
}

.container-principal {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 100px;
    height: 100vh;
}

.container-apresentacao {
   width: 40%;
}

.video-fundo {
    position: fixed;
    top: 0;
    z-index: -1;
}

video {
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    top: 0;
}

.mascara {
    height: 100%;
    width: 100%;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
    position: fixed;
    top: 0;
}

.whatsapp-link img {
    height: 70px;
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.header {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 30px;
}

.header img {
    height: 60px;
}

.header a {
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
}

.header a:hover {
    color: #c51111;
    font-size: 22px;
    transition: all 0.3s ease;
}

.formulario-contato {
    background-color: #ffffff;
    display: flex;
    gap: 15px;
    flex-direction: column;
    position: fixed;
    top: 30%;
    left: -330px;
    padding: 20px;
    border-radius: 10px;
    transition: left 0.5s ease-in-out;
}

input {
    height: 35px;
    border-radius: 5px;
    border: 1px solid #838383;
    padding: 5px;
    outline-color: #18d80f;
}

textarea {
    width: 300px;
    height: 100px;
    border-radius: 5px;
    border: 1px solid #838383;
    padding: 5px;
    outline-color: #18d80f;
}

.mascara-formulario {
    visibility: hidden;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
    transition: visibility 0.5s ease-in-out;
}